<phpunit
	bootstrap="phpunit/includes/bootstrap.php"
        backupGlobals="false"
        colors="true"
        >
    <testsuites>
        <!-- Default test suite to run all tests -->
        <testsuite>
            <directory suffix=".php">phpunit/tests</directory>
            <exclude>phpunit/tests/actions/closures.php</exclude>
            <exclude>phpunit/tests/image/editor.php</exclude>
            <exclude>phpunit/tests/image/editor_gd.php</exclude>
            <exclude>phpunit/tests/image/editor_imagick.php</exclude>
            <exclude>phpunit/tests/image/functions.php</exclude>
            <exclude>phpunit/tests/image/resize.php</exclude>
            <exclude>phpunit/tests/image/resize_gd.php</exclude>
            <exclude>phpunit/tests/post/attachments.php</exclude>
            <file>test_basic_theme.php</file>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>ajax</group>
        </exclude>
    </groups>
    <logging>
        <log type="junit" target="phpunit/build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
